@import '../theme/fonts.css';
@use '../theme/variables.module' as variables;

.listInLine {
    list-style: none;
}

.listInLine li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}

.water {
    @extend .listInLine;
    color: blue;
}

.sun {
    @extend .listInLine;
    color: #f1c40f;
}

.rating {
    @extend .listInLine;
    color: #f1c40f;
    width: 100%;
    margin: auto;
    justify-content: center;
    background-color: hotpink;
}

.name {
    font-size: 2rem;
    margin-left: 10px;
    font-stretch: expanded;
    margin-bottom: 0;
    font-weight: bold;
}

.nickname {
    font-family: Sacramento, sans-serif;
    font-style: italic;
    margin-left: 100px;
}

.imgSucculent {
    position: relative;
    width: 100%;
    @media (max-width: 600px) {
        width: 100%;
    }
}
